DATABASE_URL="postgresql://user:password@ep-xxxxx-pooler.region.aws.neon.tech/neondb?sslmode=require"
DIRECT_URL="postgresql://user:password@ep-xxxxx.region.aws.neon.tech/neondb?sslmode=require"
AUTH_RESEND_KEY="re_xxxxxxxxxxxxxxxxxxxxxxxx"
